body {
    font-family: "Roboto Light", sans-serif;
    background-color: #f9f9f9;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0;
    padding: 0 0;
}

h3 {
    color: #333;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 228, 255);
    border-radius: 15px 15px;
    width: fit-content;
    margin: 50px auto 0 auto;
    padding: 20px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.2s ease-out;
}

form:hover {
    transform: scale(1.05);
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px;
}

button:hover {
    background-color: #0056b3;
}

h4 {
    text-align: center;
    width: 100%;
}

p {
    color: #007BFF;
    border-radius: 15px 15px;
    width: fit-content;
    display: block;
    margin: 0 auto;
}


#loader {
    display: none;
    width: 60px;
    z-index: 1000;
    margin: 20px auto;
}
